html, body {
	height: 100%;
	width: 100%;
}

.signup-logout-button {
	position: absolute;
	right: 5%;
	top: 4%;
}

.login-box {
	position: absolute;
	left: 40%;
	top: 40%;
}

.header {
	width: 100%;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	text-align: center;
}

.title {
	text-align: center;
}