<div id="friends_list"> 
	<h2> Friends List </h2>
	<form action="{{ url_for("add_friend") }}" method="post">
		<div>
			<label for="username">Add Friend:</label> <br>
			<input type="text" name="friend" required/>
			<button type="submit">Add</button>
		</div>
	</form> 
	{% for friend in user.friends %}
			<a href="{{ url_for("create_conversation_with", friend=friend.username) }}"> {{ friend.username }} </a>
			{% if friend.isOnline() %} ONLINE {% else %} OFFLINE {% endif %}
			<br>
	{% endfor %}
</div>
