<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>wisspr</title>
	</head>
	<body>
		<h1> wisspr </h1>
		{% if error %}
			<h2> {{ error }} </h2>
		{% endif %}
		{% if user %}
			<h2> Welcome {{ user.username }}! </h2>
            <h3> Friends: </h3>
                {% for friend in user.friends %}
                    <h4> {{ friend.name }}
                        {% if friend.isOnline() %} 
                            ONLINE 
                        {% else %} 
                            OFFLINE
                        {% endif %} 
                    </h4>
                {% endfor %}
			<form action="/logout" method="get">
				<div class="button">
					<button type="submit">Logout</button>
				</div>
			</form>
		{% else %}
			<form action="/login" method="post">
				<div>
					<label for="username">Username:</label>
					<input type="text" name="user" required/>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" name="password" required/>
				</div>
				<div class="button">
					<button type="submit">Login</button>
				</div>
			</form>
			<form action="/signup" method="get">
				<div class="button">
					<button type="submit">Signup</button>
				</div>
			</form>  
		{% endif %}  
	</body>
</html>